/* Define variables at the root level */
:root {
    --primary-color: #202946;
    --accent-color:#7d96e8;
    --light-color: #e5e4e7;
    --dark-color: #333333;
    --green-color: #146f14;
    --red-color: #981515;
    --sidebar-width: 20rem;
    --sidebar-collapsed-width: 4rem;
    --header-height: 7rem;
    --player-width: 12rem;
    --padding-inc: 0.75rem;
}

hr {
    margin: 30px;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--light-color);
}

body {
    font-family: 'Lato', 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--primary-color);
    font-size: 2rem;
    align-items: center;
}

.container {
    text-align: center;
    width: 50%;
}

.btn-primary {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-color: black;
}

.btn-primary:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.group {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    gap: 3px;
}

.sidebar {
    width: 65px;
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.sidebar span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: 30px;
    font-weight: bold;
    color: var(--light-color);
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 0;
    padding: 20px;
    /* box-sizing: border-box; */
}

.iframe-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
}

.content-frame {
    width: calc(100% - 65px);
    padding-left: 65px;
    height: 100%;
    border: none;
    align-items: start;
}
