/* Define variables at the root level */
:root {
    --primary-color: #202946;
    --accent-color: #7d96e8;
    --light-color: #e5e4e7;
    --dark-color: #333333;
    --green-color: #146f14;
    --red-color: #991515;
    --sidebar-width: 20rem;
    --sidebar-collapsed-width: 4rem;
    --header-height: 7rem;
    --player-width: 12rem;
    --padding-inc: 0.75rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--light-color);
}


body {
    font-family: 'Lato', 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--primary-color);
    font-size: 2rem;
    align-items: center;


.container {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 100%;
    max-height: 100%;
}

.custom-btn {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-color: var(--light-color);
    font-family: 'Lato', 'Tahoma', sans-serif !important;
}

.custom-btn:hover {
    color: var(--primary-color);
    background-color: var(--light-color);
    border-color: var(--dark-color);
}

.custom-btn disabled {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-color: var(--light-color);
}

.dropdown-item {
    font-size: 1.2rem;
}

#home-content {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.main-content {
    margin-left: 0;
    padding: 20px;
    /* box-sizing: border-box; */
}

#dynamic-content {
    /* display: none; */
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 80px !important;
    /* position: absolute; */
    /* top: 126px; */
    background-color: var(--light-color);
    display: flex;
    /* justify-content: center; */
}

#chart-frame {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border: none;
    align-items: start;
}

#playerChart {
    background-color: var(--light-color);
    width: 100%;
    max-width: 100%;
    border: none;
    align-items: end;
}

nav {
    display: none;
    background-color: var(--primary-color);
    color: var(--light-color);
}

nav.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.dropdown-menu {
    font-family: 'Lato', 'Tahoma', sans-serif;
}

.navbar .container-fluid {
    display: flex;
    justify-content: flex-start;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* bootstrap table cell format */
.table #row1 td {
    background-color: hsl(226, 37%, 30%);
    color: var(--light-color);
}

.table #row2 td {
    background-color: var(--light-color);
}

.table #row1 #squad1 {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.table #row2 #squad2 {
    background-color: white;
}

.table {
    /* border: 1px solid black; */
    font-family: 'Lato', 'Tahoma', sans-serif !important;
    font-size: 1rem;
    max-width: 700px;
}

.table th {
    /* color: var(--light-color); */
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.br {
    border-right: 1px solid black;
}

.table thead {
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.table .eg-header {
    background-color: var(--primary-color);
}

.table .opp-header {
    background-color: var(--red-color);
}
.table #row1 .opp {
    background-color: hsl(0, 40%, 50%)
}
.table #row2 .opp {
    background-color: hsl(0, 40%, 70%)
}
.small {
    font-size: small;
}

.table #squad1, #squad2, #squadT {
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 1.2rem;
}

.table select {
    font-family: 'Lato', 'Tahoma', sans-serif !important;
    font-size: small;
    background-color: var(--primary-color);
    color: var(--light-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

#selects {
    /* Position at top right of cxontainer */
    position: absolute;
    top: 80px;
    right: 0;
    color: var(--light-color);
    background-color: var(--accent-color);
}

#playerTable {
    font-family: 'Lato', 'Tahoma', sans-serif !important;
    font-size: 1rem;
    max-width: 700px;
}

#selectedPlayer {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    color: var(--light-color);
}
#playerPosition {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--light-color);
}

#playerSponsor {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: var(--light-color);
    opacity: 0.5;
}

#ppTitle {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
}


@media (max-width: 992px) {
    #dynamic-content {
        margin-top: 56px !important;
    }
}


@media (max-width: 768px) {
    body {
        font-size: 1.25rem;
        /* Smaller font on smaller screens */
    }

    .table {
        font-size: 1rem;
    }

    #ppTitle {
        font-size: 3rem;
    }
    #selectedPlayer {
        font-size: 2rem;
    }
    #playerPosition {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {

    .table {
        font-size: 1rem;
    }

    #ppTitle {
        font-size: 2rem;
    }
    #selectedPlayer {
        font-size: 1.5rem;
    }
    #playerPosition {
        font-size: 1rem;
    }
}


.hidden {
    display: none !important;
}